@model IEnumerable<WaletzkoPortfolio.Models.PortfolioDetail>

@{
    ViewBag.Title = "Home";
}

@foreach (var item in Model) {
    <div class="row">
        <div class="col-lg-6">
            <h2>
                @Html.DisplayFor(modelItem => item.Description)
            </h2>
        </div>
        <div class="col-lg-6">
            <a href="~/@Url.Content(item.Picture.LinkURL)">
                <img src="@Url.Content(item.Picture.PictureURL)" alt="" style="height: auto; width: 100%; display: block;">
            </a>
        </div>
    </div>
}
